Lenguajes de marcado/tema 2/Ejemplos_para_enlazar_esquemas_al_xml/Ejemplos_para_enlazar_esquemas_al_xml/Ejemplo_cabecera_con_espacio_de_nombres.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="mio"  xmlns:m="mio" elementFormDefault="qualified">


<xsd:element name="empleado" type="m:tipoEmpleado" /> 

<xsd:complexType name="tipoEmpleado"> 
		<xsd:sequence>
		    <xsd:element name="name" type="xsd:string" />
		     <xsd:element name="lastname" type="xsd:string" />
		</xsd:sequence> 
		<xsd:attribute name="tipo" type="xsd:string" use="required" />

</xsd:complexType>  

</xsd:schema>
