Lenguajes de marcado/tema 2/Ejemplos_para_enlazar_esquemas_al_xml/Ejemplos_para_enlazar_esquemas_al_xml/Ejemplo_cabecera_sin_espacio_de_nombres.xsd

<?xml version="1.0"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
       <xsd:element name="empleado"> 
	<xsd:complexType> 
		<xsd:sequence> 
		        <xsd:element name="name" type="xsd:string"/> 
		        <xsd:element name="lastname" type="xsd:string"/> 
		</xsd:sequence> 
	</xsd:complexType> 
      </xsd:element>
</xsd:schema> 
