Lenguajes de marcado/tema 1/Actividades/actividad_01/contabilidad/contabilidad.dtd

<!ELEMENT contabilidad (apunte*)>
<!ELEMENT apunte (fecha, cantidad, concepto)>
<!ELEMENT fecha EMPTY>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT concepto (#PCDATA)>
<!ATTLIST apunte tipo (ingreso | gasto) #REQUIRED>
<!ATTLIST fecha dia CDATA #IMPLIED>
<!ATTLIST fecha mes CDATA #REQUIRED>
<!ATTLIST fecha anyo CDATA #REQUIRED>
<!ATTLIST cantidad moneda CDATA #REQUIRED>
